{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Saved Cards</h2>
        <ul class="list-group">
            {% for card in cards %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Card {{ card.get_hidden_number }}</span>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary btn-sm">Edit</a>
                        <a class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Saved Addresses</h2>
        <ul class="list-group">
            {% for address in addresses %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ address.get_full_address }}</span>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary btn-sm">Edit</a>
                        <a class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-6">
        <h2>Reviews</h2>
        <ul class="list-group">
            {% if reviews is None %}
                <li class="list-group-item">No reviews</li>
            {% endif %}
            {% for review in reviews %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ review.game.game_name }}</span>
                    <div class="btn-group" role="group">
                        <a href="{% url 'edit_review' review_id=review.review_id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
