{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">

					<div id="payment-method">
						<label for="credit-card-select">Choose Credit Card: </label>
						<select id="credit-card-select" name="selected_credit_card">
							{% for card in cards %}
								<option value="{{ card.id }}">Card {{ card.get_hidden_number }}</option>
							{% endfor %}
						</select>
						<br>
						<a href="{% url 'add_credit_card' %}">
							Add Credit Card
						</a>
						
					
						<br>
					</div>

					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
            {% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
					<div style="flex:2"><p>{{ item.game.game_name }}</p></div>
					<div style="flex:1"><p>$ {{ item.game.price }}</p></div>
					<div style="flex:1"><p>x {{ item.quantity }}</p></div>
				</div>
			{% endfor %}

				<h5>Items:   {{ order.get_cart_items }}</h5>
				<h5>Total:   {{ order.get_cart_total }}</h5>
			</div>
		</div>
	</div>
{% endblock content%}