{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        {% for gameItem in gameItems %}
            <div class="col-lg-6">
            <a href="{% url 'game_detail'  game_id=gameItem.game_id %}"><img class="thumbnail" src="{% static 'images/placeholder.png' %}"></a>
            <div class="box-element product">
                <a style="text-decoration: none;" href="{% url 'game_detail'  game_id=gameItem.game_id %}"><h6><strong>{{ gameItem.name }}</strong></h6></a>
                <hr>
                <button data-product="{{gameItem.game_id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
                <a class="btn btn-outline-success" href="{% url 'game_detail'  game_id=gameItem.game_id %}">View</a>
                <a class="btn btn-outline-success" href="{% url 'add_review' %}?game_id={{gameItem.game_id}}">Review</a>
                <h4 style="display: inline-block;float: right">${{ gameItem.price }}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content%}