{% extends "dashboard/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Search, Update, and Delete Games</h2>
    <div class="content-section">
        <form method="GET" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy search_form %}
            {{ filter.form }}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        {% if games %}
            <h3>Search Results:</h3>
            <ul>
                {% for game in games %}
                    <li>{{ game.game_name }}
{#                        <a href="{% url 'update_game' game.id %}">Update</a>#}
{#                        <a href="{% url 'delete_game' game.id %}">Delete</a>#}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}